@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;700&display=swap');
 
:root {
    --primary: #6a58ff;    /*  rgba(106, 88, 255,.8) */
    --secondary: #6ff3f7;  /* rgba(111, 243, 247,.8) */
    --tertiary: #343d6c;
    --darkblue: #0f1220;
    --black: #000;
    --lightgray: #f8fafd;
    --white: #fff;
    --text: #666666;
    --borders: #e5e5e5;
    --lightgreen: #75eac0;
    --green: #a2e81c;
    --lightblue: #ada2ff;
    --blue: #6edff8;
    --lightred: #ed87b2;
    --red: #fb4c35;
    --lightviolet: #c2b8f3;
    --violet: #6d53fc;
    --fontFamily: 'Poppins', sans-serif;
    --fontSize: 16px;
    --transition: .3s ease;
}

* {
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: var(--fontFamily);
    font-size: var(--fontSize);
    line-height: 1.5;
    color: var(--text);
} 
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    color: var(--darkblue);
}
h2 {
    font-size: 2.5rem;
}

/*nav*/
nav {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    align-items: center;
    width: 100%;
    position: fixed;  
    z-index: 1;   
    background-color: var(--lightred);
}  
.logo {
    text-decoration: none;
    color: var(--white); 
} 
.logo:hover {
    color: var(--secondary);
    transition: var(--transition);
}
nav ul {
    display: flex;
    flex-direction: row;
    align-items: center; 
    list-style: none;
} 
nav ul li a {
    padding: 0 30px;
    text-decoration: none;
    color: var(--white);
    font-size: 1.2rem;
    margin-right: 20px;
}
nav ul li a:hover {
    color: var(--lightgreen);
    transition: var(--transition); 
    text-shadow: 3px 2px var(--black);
}

/*header*/
header {
    background-image: url(img/header-background.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;    
    clip-path: polygon(0 0, 100% 0%, 100% 89%, 0% 100%);
}
.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; 
    padding-top: 200px;
}
.header h1 {
    font-size: 3rem;
    color: var(--white);
}
.header p {
    color: var(--white);
    padding: 20px 0;
}
.header input[type="submit"] {
    background-color: var(--white);
    font-size: 1.5rem;
    padding: 10px 15px;
    border-radius: 30px; 
    font-family: 'Montserrat', sans-serif;
}
.header input[type="submit"]:hover {
    transform: translateY(-10px); 
    transition: 1s ease;
}

/*portfolio*/
.portfolio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.portfolio article:nth-child(1) h2 {
    font-size: 4rem;
    padding: 20px;
}
.portfolio article:nth-child(1) hr {
    height: 5px;
    background: var(--secondary);
    width: 50%; 
    margin: auto;
    border: 0px;
}
.portfolio article:nth-child(1) p {
    padding: 20px;
}
.portfolio article:nth-child(2) .button{
    padding: 10px; 
    transition-duration: 0.4s;
    background-color: white;
    color: black;
    border: 2px solid #555555;
    border-radius: 10px;
    margin: 15px;
    font-size: 1.2rem;
}
.portfolio article:nth-child(2) .button:hover { 
    background-color:#555555;
    color: var(--white);
} 
.photos {
    padding: 40px 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row; 
    width: 100%;  
}
.photos article { 
    padding: 10px 0;
    width: 30%; 
    margin: auto;
}
.photos article img { 
    width: 90%; 
} 
.color {
filter: grayscale(100%);
-webkit-filter: grayscale(100%);
-webkit-transition: all 1s ease;
}

.color:hover{
filter: grayscale(0%);
filter: gray;
-webkit-filter: grayscale(0%);
filter: none;
transition: 1s ease;
}
 
/*review*/
.review h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem; 
}
.review .row {
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%; 
    margin: auto;
    padding-bottom: 50px;
} 
.row article {
    width: 20%;
    padding: 50px; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: auto;
}
.row article .client{
    display: flex;
    flex-direction: row; 
    padding-top: 20px;
    justify-content: center;
    align-items: center;
}
.row article .client img {
    border-radius: 50%;
    width: 20%;
    margin-right: 30px;
}

/*footer*/

.footer {
    background-color: var(--tertiary);
    clip-path: polygon(0 8%, 100% 0%, 100% 100%, 0% 100%);
    margin: auto; 
}
.footer .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding:  80px;
    margin: auto;
}
.footer .row .footer2 {
    width: 20%;
    margin: auto;
    justify-content: center;
    align-items: center; 
    padding: 10px;
}
.footer .row .footer2 h2 {
    color: var(--white);
    font-size: 1.5rem;
    line-height: 1.8;
}
.footer .row .footer2 p {
    padding-top: 40px;
    color: var(--white);
}
.footer .row .footer2 ul li  { 
    list-style: none;
}
.footer .row .footer2 ul li a {
    text-decoration: none; 
    line-height: 2;
    color: var(--secondary);
}
.footer .row .footer2 ul li a:hover {
    color: var(--white);
    transition: var(--transition);
}
.footer .row .footer2:nth-child(3) {
    padding-top: 30px;
}

.footer .row .footer2:nth-child(4) .icons {
    display: flex;
    flex-direction: row;
}



